.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  margin: 25px auto;
}

video {
  max-height: 100%;
  max-width: 100%;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.btn_grabar {
  background-color: #4caf4f67;
  border-radius: 15px;
  color: #000000;
  border: 1px solid #0000008f;
  margin: 5px;
  padding: 10px;
}
