.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100vh;
    padding: 10px;
}

.login-form {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f0f0f039;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

ion-item {
    margin-top: 10px;
}

ion-label {
    color: #666;
}

.img_arrow_right {
    width: 18px;
    height: auto;
}

.login-button {
    margin: 10px;
    background-color: rgba(74, 255, 3, 0.449);
    color: rgb(0, 0, 0);
    border-radius: 25px;
    border: 1px solid black;
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-links {
    margin-top: 15px;
    font-size: 14px;
}

.footer-links a {
    color: #3880ff;
    text-decoration: none;
    margin: 0 5px;
}