.container_list {
  margin: 0;
  padding: 20px;
  width: 100%; 
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
}

.img_nav{
  width: 20px;
  height: auto;
}

.item_list{
  cursor:pointer;
}
.item_list:hover{
  background-color: #00000027;
}

.btn_decorate_eliminar{
  background-color: rgba(255, 0, 0, 0.57);
  border: 1px solid black;
  color: rgb(255, 255, 255);
  border-radius: 25px;
  font-size: 10px;
  padding: 3px;
  &:hover{
    background-color: rgb(241, 16, 16);
  }
}

.btn_decorate_eliminar:disabled{
  cursor: not-allowed;
  opacity: 0.4;
}

.tres_puntos:hover{
  background-color: rgb(155, 155, 155);
}