<ion-content>
  <ion-row class="content-row">
    <ion-col size="12" size-md="6" class="content-col">

      <ion-buttons>
        <button class="btn_cancelar" type="button" routerLink="/navbar/home">
          <img src="assets/img/flechaIzquierda.png" alt="Logo" class="img_nav" loading="lazy">
        </button>
        <button class="btn_agregar" type="submit">
          Editar
          <img src="assets/img/clic.png" class="ms-2 img_arrow_right" loading="lazy">
        </button>
      </ion-buttons>

      <div class="container_img">
        <img [src]="user.img ? urlImg + '/' + user.img : 'assets/img/avatar/avatar1.png'" alt="Avatar" loading="lazy">
      </div>
      <h5 class="text-muted">{{ user.nombre}} {{ user.apellido}} </h5>
      <h5 class="text-muted">{{ formatPhoneNumber(user.telefon) }}</h5>

      <ion-card class="container_card">
        <p>Información del contacto</p>
        <h5>{{ user.email }}</h5>
        <h5>{{ user.direccion }}</h5>
      </ion-card>
    </ion-col>

    <ion-col size="12" size-md="6" >
      <div class="contenedor_mapa">
        <div id="mapID"></div>
      </div>
    </ion-col>

  </ion-row>
</ion-content>