/* Estilo general para todo el contenido */
ion-content {
    --background: #f4f4f4;
    padding: 16px;
}

.content-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
}

.content-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ion-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
}

.btn_cancelar,
.btn_share,
.btn_agregar {
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #007bff;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    cursor: pointer;
}

.btn_cancelar .img_nav,
.btn_agregar .img_arrow_right {
    width: 20px;
    height: 20px;
    margin-left: 8px;
}

.container_img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 16px;
}

.container_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-muted {
    color: #6c757d;
}

.container_card {
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: 16px;
}

.container_card p {
    font-size: 16px;
    color: #007bff;
    margin-bottom: 8px;
}

.container_card h5 {
    font-size: 14px;
    margin: 4px 0;
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9ecef;
    border-radius: 8px;
    height: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.map-placeholder {
    font-size: 20px;
    color: #6c757d;
}

/* Responsividad */
@media (max-width: 767px) {
    .buttons-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .btn_cancelar,
    .btn_agregar {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .container_img {
        width: 100px;
        height: 100px;
    }

    .container_card {
        width: 100%;
        padding: 12px;
    }
}

@media (min-width: 768px) {
    .content-row {
        flex-wrap: nowrap;
    }

    .map-container {
        height: 250px;
    }
}

#mapID {
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid #ccc;
    overflow: hidden;


}

.contenedor_mapa {
    width: 100%;
    height: 400px;
    position: relative;
}