<ion-header>
  <ion-toolbar class="barra_web" color="none">
    <!-- --- -->
    <img src="assets/icon/logoA.png" alt="Logo" class="logo_img_nav" loading="lazy">
    <ion-buttons class="menu-button" slot="end">
      <!-- <ion-button class="btn_decorate"  [routerLink]="'./login'">
        Agregar
        <img src="assets/img/agregar.png" alt="Logo" class="img_nav ms-2" loading="lazy">
      </ion-button>
      <ion-button class="btn_decorate" disabled >
        Eliminar
        <img src="assets/img/borrar.png" alt="Logo" class="img_nav ms-2" loading="lazy">
      </ion-button> -->
      <ion-button class="btn_decorate" routerLink="/register" *ngIf="!isLoggedIn">
        Crear una cuenta
        <img src="assets/img/registrarse.png" alt="Logo" class="img_nav ms-2" loading="lazy">
      </ion-button>
      <ion-button class="btn_decorate" *ngIf="isLoggedIn" (click)="onLogout()" >
        logout
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- --- -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="alert">
    ¡Esto es una alerta flotante!
  </div>
  <ion-router-outlet></ion-router-outlet>
</ion-content>