

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <span *ngIf="isLoggedIn">
        <ion-button color="pimary"  [routerLink]="'./home'">
          Agregar clase
        </ion-button>
        <ion-button color="pimary"  [routerLink]="'./home'">
          Streaming
        </ion-button>


        <ion-button color="pimary"  (click)="onLogout()">
          logout
        </ion-button>
      </span>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="content">
  <ion-router-outlet></ion-router-outlet>
</ion-content>